[submodule "deps/z3"]
	path = deps/z3
	url = https://github.com/snaplab-dpss/maestro-z3.git
[submodule "deps/dpdk"]
	path = deps/dpdk
	url = https://github.com/snaplab-dpss/maestro-dpdk.git
[submodule "deps/llvm"]
	path = deps/llvm
	url = https://github.com/snaplab-dpss/maestro-llvm.git
[submodule "deps/klee"]
	path = deps/klee
	url = https://github.com/snaplab-dpss/maestro-klee.git
[submodule "deps/klee-uclibc"]
	path = deps/klee-uclibc
	url = https://github.com/snaplab-dpss/maestro-klee-uclibc.git
[submodule "deps/librs3"]
	path = deps/librs3
	url = https://github.com/snaplab-dpss/librs3.git
